newsletter/.idea/.gitignore
newsletter/.idea/aws.xml
newsletter/.idea/misc.xml
newsletter/.idea/modules.xml
newsletter/.idea/newsletter.iml
newsletter/.idea/vcs.xml
newsletter/.idea/inspectionProfiles/Project_Default.xml
